
    * { box-sizing: border-box; margin: 0; padding: 0; }
    body {
      font-family: Arial, Helvetica, sans-serif;
      background: #0a0a0a;
      color: #fff;
      line-height: 1.6;
    }
    a { text-decoration: none; color: inherit; }
    section{
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.8s ease, transform 0.8s ease;
    }
    section.visible { 
    opacity: 1 !important;
    transform: translateY(0) !important;
    }
    svg{
      width: 30px;
      height: 30px;
      fill: none;
      transition: 0.2s;
      stroke: darkgoldenrod;
      stroke-width: 2;
      transform: translateY(12px);
    }
    .container { width: 100%; max-width: 1400px; margin: auto; }

    .hero-left {
      background: linear-gradient(-70deg, transparent 60%,#b3832e 0%,black 61%),
      linear-gradient(70deg,black 40%,#b3832e 0%,transparent 41%),
        url('img19.jpg') center/cover no-repeat;
      
      background: 
        linear-gradient(to right,rgba(0,0,0,0.9) 40%, rgba(0,0,0,0)),
        linear-gradient(-60deg, rgba(0,0,0,0.7) 15%,#ffa200 15% 15.2%,transparent 15%),
        url('img19.jpg') center/cover no-repeat;
      min-height: 680px;
      padding: clamp(25px, 6vw, 80px);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    
    .triangles {
      width: 20%;        /* resize */
      height: auto;

      position: absolute;  /* move */
      bottom:  10px;
      right: 0%;
    }

    .hero-left img{
      width: 20%;
    }
   
    .hero-copy h1 {
      font-size: 64px;
    }

    .hero-copy div {
      margin-top: 30px;
    }

    .hero-copy h1 span { color: #c89b4b; }

    .hero-copy p {
      margin-top: 30px;
      font-size: 32px;
      color: #c89b4b;
    }

    .contact-mini {
      padding: 100px 0 0;
      font-size: 16px;
      color: #eee;
    }

    .contact-mini div { margin-bottom: 10px; }

    .hero-right {
      color: black;
      min-height: 680px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background: url('img110.png') top/cover no-repeat;
      min-height: 100vh;
      width: 100%;
    }
    .hero-right p {
      font-size: 20px;
      width: 50%;
    }
    
    .hero-right .con {
      padding: 60px 50px;
    }

    .section-label {
      font-size: 14px;
      letter-spacing: 2px;
      color: #b3832e;
      margin-bottom: 14px;
      font-weight: 700;
    }

    .hero-right h2 {
      font-size: 56px;
      line-height: 1.05;
      margin-bottom: 20px;
    }

    .hero-right h2 span { color: #b3832e; }

    .stats {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 25px;
      margin-top: 35px;
      padding-bottom: 60%;
    }

    .stat {
      border-top: 1px solid #615d58;
      padding-top: 18px;
    }


    .stat h3 {
      font-size: 20px;
      color: #b3832e;
      margin-bottom: 5px;
    }

    .services-section { 
      background: 
        linear-gradient(to right,rgba(0,0,0,0.9) 40%, rgba(0,0,0,0)),
        url('img35.jpg') center/cover no-repeat;
      padding: 70px 40px;
    }

    .services-head {
      display: flex;
      justify-content: space-between;
      align-items: end;
      margin-bottom: 35px;
      gap: 20px;
    }

    .services-head h2 {
      font-size: 42px;
      line-height: 1.1;
      margin-bottom: 100px
    }

    .services-head h2 span { color: #c89b4b; }

    .services-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }

    .service-card {
      background: #111111ad;
      border-radius: 30px;
      text-align: center;
    }

    .service-card img {
      filter: invert() sepia() saturate(10000%) hue-rotate(315deg);
      margin-top: 18px;
      height: 100px;
    }

    .service-card .content {
      padding: 18px 16px 20px;
    }

    .service-card h3 {
      font-size: 18px;
    }

    .service-card p {
      font-size: 14px;
    }

    .contact,
    .vision,
    .projects{
      color: white;
      padding: 70px 55px;
      min-height: 680px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
    }
    .director {
      padding: 45px 35px;
    }

    .vision {
      background: linear-gradient(70deg,black 50%,#b3832e 50% 50.2%,transparent 50%),
      linear-gradient(-70deg, transparent 50%,#b3832e 50% 50.2%,black 50%),
        url('img15.jpg') center/cover no-repeat;
    }

    .contact h3,
    .vision h3,
    .projects h3,
    .director h3 {
      font-size: xx-large;
      letter-spacing: 2px;
      color: #b3832e;
      margin-bottom: 18px;
    }

    .vision-columns {
      margin-left: 30px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 24px;
    }

    .vision-box h4 {
      color: #b3832e;
      font-size: 22px;
      margin-bottom: 10px;
    }

    .vision-box p {
      font-size: 20px;
      margin-bottom: 10px;
    }

    .visimg{
      text-align: center;
    }

    .projects {
      background: 
        linear-gradient(to right,rgba(0,0,0,0), rgba(0,0,0,0.9) 40%),
        url('img19.jpg') center/cover no-repeat;
    }

    .features {
      width: 90%;
      padding: 0 0 0 50%;
    }

    .feature {
      display: block;
      margin-top: 50px;
    }

    .feature img {
      object-fit: contain;
      width: 100px ;
      height: 100px;
    }

    .feature .img{
      filter: invert() sepia() saturate(10000%) hue-rotate(315deg);
    }

    .director {
      background: #121212;
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .contact {
      background: linear-gradient(-70deg, transparent 52%,#b3832e 52% 52.1%,black 52%),
      linear-gradient(-70deg, transparent 50%,#b3832e 50% 50.1%,black 50%),
        url('img27.jpg') center/cover no-repeat;
    }

    .footer-bar {
      background: #95959595;
      padding: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #ddd;
      border-top: 1px solid rgba(255,255,255,.08);
    }

    strong {
      color: #fff;
      letter-spacing: 5px;
      font-size: 28px;
    }

    .tagline {
      font-size: 18px;
    }

    .tagline span {
      color: #c89b4b;
      font-weight: 700;
    }

  .nav-menu ul {
    display: flex;
    gap: 28px;
    list-style: none;
  }

  .nav-menu a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: bold;
    transition: 0.2s;
  }

  .nav-menu a:hover {
    color: #ffa200;
    border-bottom: 1px solid #ffa200;
    padding-bottom: 4px;
  }

  /* Hide hamburger on desktop */
  .menu-toggle {
    display: none;
    font-size: 26px;
    cursor: pointer;
  }


  @media (max-width: 950px) {
    .services-grid {
      grid-template-columns: repeat(2, 1fr);
    }
    .hero-right {
      background: 
        linear-gradient(to right,rgba(255, 255, 255, 0.9) 40%, rgba(0,0,0,0)),
        url('img110.png') top/cover no-repeat;
    }
    
      .menu-toggle {
        display: block;
      }

      .nav-menu ul {
        display: none;
        flex-direction: column;
        gap: 15px;
        text-align: center;
        background: #ffffff9b;
        padding: 20px;
        position: absolute;
        top: 68px;
        left: 0;
        width: 100%;
      }

      .nav-menu ul.active {
        display: flex;
      }

      .nav-menu a {
        font-size: 14px;
      }
  }
    @media (max-width: 720px) {
      .hero-left, .hero-right { min-height: auto; }
      .hero-copy h1, .hero-right h2 { font-size: 42px; }
      .vision-columns, .stats { grid-template-columns: 1fr; }
      .projects-grid { grid-template-columns: 1fr; }
      .services-grid{ grid-template-columns: repeat(1, 1fr);}
      .footer-bar {
        flex-direction: column;
        gap: 14px;
        text-align: center;
      }
      
      .visimg{
        text-align: left;
      }
      
      .hero-right p {
        width: 100%;
      }

      .tagline span {
        display: block; /* move second part to new line */
      }

      .feature {
         font-size: 14px;
      }
       
      .feature img {
        width: 50px ;
        height: 50px;
      }
      
    }

    
    .main-header {
      background: #ffffff9b;
      border-bottom: 1px solid rgba(200, 155, 75, 0.3);
      padding: 0 40px;
      position: sticky;
      top: 0;
      z-index: 100;
      backdrop-filter: blur(2px);
    }

    .header-container {
      max-width: 1400px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      padding: 8px 0;
    }

    .logo a {
      font-size: 28px;
      font-weight: 800;
      letter-spacing: 3px;
      text-decoration: none;
      transition: 0.2s;
    }

    .logo span {
      color: #c89b4b;
      font-weight: 700;
    }
    
    .logo img {
      height: 40px;
      object-fit: cover;
      transform: translateY(5px);
    }

    .btn {
      display: inline-block;
      padding: 5px;
      background: #c89b4b;
      color: black;
      text-decoration: none;
      border-radius: 6px;
      font-weight: bold;
      transition: 0.3s;
    }

    .btn:hover {
      background: #a67c2f;
    }
